<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid" style="padding-right: 5px;padding-left: 0px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="isUserLoggedIn() && isBroker()">
          <a routerLink="/dashboard">Dashboard</a>
        </li>        
        <li *ngIf="isUserLoggedIn() && isBroker()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Party <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/party']">Search</a>
            </li>
            <li>
              <a [routerLink]="['/party/add']">Add</a>
            </li>
          </ul>
        </li>
        <li *ngIf="isUserLoggedIn() && isBroker()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sale <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/sale']">Search</a>
            </li>
            <li>
              <a [routerLink]="['/sale/add']">Add</a>
            </li>
            <li>
              <a [routerLink]="['/sale/report']">Sales Report</a>
            </li>
            <li>
              <a [routerLink]="['/sale/brokerage-report']">Brokerage Report</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
