<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Login
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="loginForm" (submit)="onSubmit()" novalidate>
            <div class="form-group">
              <label class="center-block">User Name:
                <input class="form-control" formControlName="userName" required>
              </label>
              <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="field-validation-error">
                <div *ngIf="userName.errors.required">
                  User name is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="center-block">Password:
                <input class="form-control" type="password" formControlName="password" required>
              </label>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="field-validation-error">
                  <div *ngIf="password.errors.required">
                    Password is required.
                  </div>
                </div>
            </div>
            <!-- <div class="validation-summary-errors" *ngIf="isLoginFailed">
              Invalid username or password. Please try again!
            </div> -->
            <div class="form-group text-center">
              <input type="submit" value="Log in" class="btn btn-primary btn-xs"
                      [disabled]="loginForm.invalid" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
