<div class="panel panel-info" *ngIf="searchResult && searchResult.partyList.length > 0">
    <div class="panel-body">
        <table class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th>
                        Party Code
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Party Types
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let party of searchResult.partyList">
                    <td>{{party.partyCode}}</td>
                    <td>{{party.firstName}}</td>
                    <td>{{party.lastName}}</td>
                    <td>{{party.selectedPartyTypes}}</td>
                    <td>
                        <button type="button" data-title="Edit" class="btn btn-success btn-xs"
                            (click)="onEdit(party)">Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" data-title="Are you sure you want to delete it?" class="btn btn-danger btn-xs"
                            (click)="onDelete(party)">X
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-info" *ngIf="searchResult && searchResult.partyList.length == 0">
    <div class="panel-body">
        <div class="empty-result">No records found.</div>
    </div>
</div>