.status-circle {
	margin-top:5px;
	width: 16px;
	height: 16px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.status-closed {
	background-color: darkgreen;
}
.status-paid {
	background-color:green;
}
.status-partial-paid {
	background-color: lightgreen;
}
.status-over-due {
	background-color: red;
}
.status-new {
	background-color: orange;
}