<div class="panel panel-info" *ngIf="searchResult && searchResult.salesList.length > 0">
    <div class="panel-body">
        <table class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th>Ref No</th>
                    <th>Sale Date</th>
                    <th>Saller</th>
                    <th>Buyer</th>
                    <th class="numeric">Total Wt</th>
                    <th class="numeric">Rejection Wt</th>
                    <th class="numeric">Selection Wt</th>
                    <th class="numeric">Unit Price</th>
                    <th class="numeric">Less (%)</th>
                    <th class="numeric">Net Sale Amount</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sale of searchResult.salesList">
                    <td>
                        <a [routerLink]="['/sale/edit', sale.saleID, {refNo : sale.refNo}]">{{sale.refNo}}</a>
                    </td>
                    <td>{{sale.saleDate | date : dateDisplayFormat}}</td>
                    <td>{{sale.saller}}</td>
                    <td>{{sale.buyer}}</td>
                    <td class="numeric">{{sale.totalWeight | number : numbericDisplayFormat}}</td>
                    <td class="numeric">{{sale.rejectionWt | number : numbericDisplayFormat}}</td>
                    <td class="numeric">{{sale.selectionWt | number : numbericDisplayFormat}}</td>
                    <td class="numeric">{{sale.unitPrice | number : numbericDisplayFormat}}</td>
                    <td class="numeric">{{sale.lessPer | number : numbericDisplayFormat}}</td>
                    <td class="numeric">{{sale.netSaleAmount | number : numbericDisplayFormat}}</td>
                    <td>
                        <div class="status-circle {{getStatusClass(sale)}}" (mouseover)="onMouseOver($event.currentTarget)"></div>
                        <div class="pop-content" style="display:none">
                            <b>Due Days :</b> {{sale.dueDays}} <br />
                            <b>Total Brokerage :</b> {{sale.totalBrokerage}} <br />
                            <b>Total Payment :</b> {{sale.totalPayAmount | number : numbericDisplayFormat}} <br />
                            <b>Payment Date :</b> {{sale.payDate | date : dateDisplayFormat}} <br />
                            <b>Status:</b> {{sale.status}}
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs"
                            (click)="onDelete(sale)">X
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-info" *ngIf="searchResult && searchResult.salesList.length == 0">
    <div class="panel-body">
        <div class="empty-result">No records found.</div>
    </div>
</div>